.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: lighter;

}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Lato', sans-serif;
}
